<div class="template-gallery">
    <h1>Template Gallery</h1>
    <ul id="template-list">
      <li><button data-template="template1">Template 1</button></li>
      <li><button data-template="template2">Template 2</button></li>
    <!-- Add more templates here -->
    <li><button data-template="template3">Template 3</button></li>
    <li><button data-template="template4">Template 4</button></li>
    <li><button data-template="template5">Template 5</button></li>
    </ul>
  </div>
  
  <script src="../scripts/template-gallery.js"></script>